.block__icon1 {
    color: var(--b3-theme-on-surface);
    cursor: pointer;
    border: 0;
    background: rgba(0,0,0,0);
    flex-shrink: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: var(--b3-border-radius);
    transition: var(--b3-transition),opacity .3s cubic-bezier(0, 0, 0.2, 1) 0ms;
    line-height: 14px;
}

.block__icon1 svg {
    height: 14px;
    width: 14px;
}

.emojis__type.custom-emoji-type img {
    height: 24px;
    width: 24px;
    min-width: 24px;
}

.emojis__type {
    min-width: 28px;
}

.emojis__panel+.fn__flex {
    max-width: 100%;
    overflow: auto;
}